@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">*Employees and Projects*</h1>
    <p>An app to manage projects and emplyees</p>
    
</div>
